# Database
DATABASE_URL="postgresql://user:pass@localhost:5432/billing"

# auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=your-secret-here-min-32-chars
ROUTER_ENCRYPTION_KEY=whatever

# default user
SUPERADMIN_DEFAULT_EMAIL=admin@test.com
SUPERADMIN_DEFAULT_PASSWORD=password123
